@import  url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,button,input,select,textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.6;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}

li{
   list-style:none;
}
/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
    margin: .2em 0;
    background: #ccc;
    color: #000;
    padding: .2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    font-family: 'Open Sans', sans-serif;
    background: url(../img/noise-bg.jpg) repeat 0 0 #FFF;
    font-weight: 400;
    color: #222;
}

.global {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.main {
    padding: 0 .5em;
}

h1 {
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1em;
    text-transform: uppercase;
    margin: 3.25em 0 2em;
}

.logo {
    display: block;
    width: 4.6em;
    height: 8.5em;
    background: url(../img/mk-logo.png) no-repeat center 3.35em transparent;
    position: absolute;
    left: 50%;
    top: 2em;
    margin-left: -2.3em;
/*   -webkit-transition:all .35s;
    -moz-transition:display .35s;
    -transition:all .35s;*/
}

.site-name {
    text-align: center;
}

header {
    margin-top: 6.25em;
    border-bottom: 3px solid #333;
}

h1 span {
    display: block;
    color: #bc5d5d;
}

h2 {
    text-align: center;
    font-size: 2em;
    padding: 1em 0 .75em;
    font-weight: 400;
    text-transform: uppercase;
}

.work h2 {
    padding: 1em 0 1.2em;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #333;
    text-transform: uppercase;
    z-index: 5;
    cursor: pointer;
}

nav ul li {
    font-size: 1.1em;
    float: left;
    width: 33.3333333%;
    text-align: center;
    color: #efefef;
}

nav ul li:hover {
    background: #555;
}

nav ul li span {
    display: block;
    padding: .25em 0;
}

nav ul li .bordered {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
}

.grid .column-3,.grid .column-2,.grid .column-1 {
    width: 100%;
    float: none;
}

figure {
    background: #bc5d5d;
    border: 3px solid #222;
    max-height: 300px;
    overflow: hidden;
    cursor:pointer;
}

figure img {
    display: block;
    max-width: 100%;
    height: auto;
}

.work figure {
    margin: 0 auto 2.25em auto;
    position: relative;
    max-width:375px;
    max-height:200px;
}

figure:hover .project-title{
    top:0;
}

.project-title {
    position: absolute;
    top: 70%;
    text-align: center;
    width: 100%;
    background: #333;
    color: #eee;
    padding: .5em 0;
    text-transform: uppercase;
    font-size: .9em;
    -webkit-transition:top .5s;
    -moz-transition:top .5s;
    transition:top .5s;
}

.project-description {
    padding: 20px;
    display: none;
}

.social-list {
    padding: 0 0 1.25em;
    list-style: none;
    text-transform: uppercase;
    font-size: .9em;
}

.social-list li {
    margin-bottom: .7em;
    padding-left:2.15em;
    background:url(../img/social-icon-sprite.png) no-repeat 0 0 transparent;
}

.social-list .email-icon{
    background-position:0 -35px;
}

.social-list .codepen-icon{
    background-position:0 -70px;
}

.social-list .github-icon{
    background-position:0 -105px;
}

.social-list .tumblr-icon{
    background-position:0 -142px;
}

.information {
    margin-top: 1em;
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
}

.info-wide {
    display: none;
}

.info-mobile {
    display: block;
    font-size: 1.25em;
}

.module {
    margin-bottom: 2.25em;
}

.module-title {
    color: #bc5d5d;
    border-bottom: 3px solid #eaeaea;
    margin-bottom: 1em;
    font-size: 1.25em;
    text-transform: uppercase;
}

.module-text {
    font-size: .9em;
}

.cv {
    margin-top:1.5em;
    color: #bc5d5d;
    font-size: 1.25em;
    text-align: center;
    text-transform: uppercase;
}

footer {
    margin-top: 5em;
    margin-bottom: 2em;
    text-align: center;
}
footer .seperator{
    opacity:0.1;
    margin-bottom:1em;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
       .grid .column-2 .column {
        width: 100%;
    }
    
    .grid .column-3 .column {
        width: 100%;
    }
/*
 * Image replacement
 */
.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
/* IE 6/7 fallback */
    text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
    border: 0;
    clip: rect(0000);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,.clearfix:after {
    content: " ";
/* 1 */
    display: table;
/* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    zoom: 1;
}

.seperator {
    background:url(../img/seperator-dark.png) no-repeat center 0 transparent;
    width: auto;
    max-width:100%;
    height: 4em;
    margin-top: 4.25em;
    opacity:0.03;
}

.link {
    color: #bc5d5d;
    text-decoration: none;
    border-bottom: 3px solid #eaeaea;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -transition: all .3s;
    cursor: pointer;
}

.link:hover {
    border-bottom: 3px solid #bc5d5d;
    color: #333;
}

.sub-link {
    color: #222;
    border-bottom: 3px solid #f0f0f0;
    text-decoration: none;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -transition: all .35s;
    cursor:pointer;
}

.sub-link:hover {
    color: #222;
    text-decoration: none;
    border-color: #bc5d5d;
}


/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
/*Display 3 per row for medium displays (like mobile phones in landscape or smaller tablets)*/
@media screen and (min-width:28em) {
    .logo {
        background: url(../img/mk-logo.png) no-repeat center 3.35em #bc5d5d;
        height: 8.5em;
        width: 5em;
        position: absolute;
        left: 50%;
        top: 0;
        margin-left: -2.5em;
        border: 3px solid #222;
        border-top: none;
        display: block;
    }
    h1 {
        font-size: 1em;
        margin: 0;
    }

    
    nav {
        background: transparent;
        float: right;
    }
    
    nav ul li .bordered {
        border: none;
    }
    

    
    header {
        margin-top: 0;
        border-bottom: 3px solid #333;
    }
    
    nav {
        position: relative;
        width: auto;
    }
    
    nav ul {
        float: right;
        margin: 2.5em 0 0;
    }
    
    nav ul li,nav ul li:hover {
        background:transparent;
        color: #555;
        font-size: .8em;
        margin-left: 1em;
        width: auto;
    }
    nav ul li:hover {
        color:#bc5d5d;
    }
    
    nav li span {
        border: none;
    }
    
    .main {
        padding: 0 .85em;
        margin-top: 1em;
    }
    
    .site-name {
        text-align: left;
        width: 50px;
        float: left;
        font-size: .8em;
    }
    
    .work h2 {
        padding: 3.5em 0 1.75em;
    }
    .seperator{
        margin: 7em 0 2em 0;
    }


}

@media screen and (min-width: 43em) {
    .logo {
        width: 6em;
        margin-left: -3em;
    }
    
    .grid .column-2 .column {
        width: 50%;
    }
    
    .grid .column-3 .column {
        width: 33.33333333%;
    }
    
    .grid .column-3 .column,.grid .column-2 .column {
        float: left;
    }
    
    .grid .column-2 .module {
        width: 95%;
    }
    
    .first-column {
        float: left;
    }
    
    .last-column {
        float: right;
    }
     h2{
        padding: 2.25em 0 1.75em;
    }
    .site-name {
        font-size: 1em;
    }
    
    nav ul li,nav ul li:hover {
        font-size: 1em;
        margin-left: 2.15em;
    }
    
    .work figure {
        width: 90%;
        margin: 0 auto 2.25em;
        position: relative;
    }
    
    .module {
        width: 90%;
        margin: 0 auto;
    }
    
    .info-wide {
        display: block;
    }
    
    .info-mobile {
        display: none;
    }
    .cv{
        font-size:.9em;
        margin:0;
        display:inline;
    }

}

@media screen and (min-width: 50em) {
    

}

@media print,-o-min-device-pixel-ratio 54,-webkit-min-device-pixel-ratio 125,min-resolution 120dpi {
    /* Style adjustments for high resolution devices */
    

}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
    * {
        background: transparent !important;
        color: #000 !important;
    /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    
    a,a:visited {
        text-decoration: underline;
    }
    
    a[href]:after {
        content: " (" attr(href) ")";
    }
    
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    
    /*
         * Don't show links for images, or javascript/internal links
         */
    .ir a:after,a[href^=javascript:]:after,a[href^=#]:after {
        content: "";
    }
    
    pre,blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    
    thead {
        display: table-header-group;
    /* h5bp.com/t */
    }
    
    tr,img {
        page-break-inside: avoid;
    }
    
    img {
        max-width: 100% !important;
    }
    
    @page {
        margin: .5cm;
    }
    
    p,h2,h3 {
        orphans: 3;
        widows: 3;
    }
    
    h2,h3 {
        page-break-after: avoid;
    }

}
